
@{
    ViewBag.Title = "Search";
}

@using (Html.BeginForm("Search", "Prueba"))
{
    <input type="text" name="hola" />


    <button type="submit" class="form-control">simon </button>

    <img src="@ViewBag.lol"/>
}

